.m-0 { margin:0px; }
.ff-Mont { font-family:Mont; }
.d-grid { display:grid; }
@media (min-width: 240px) {.d-240-block { display:block!important; }}
@media (min-width: 769px) {.d-769-flex { display:flex!important; }}
@media (min-width: 240px) {.col-240-100 { width:100%!important; }}
@media (min-width: 769px) {.col-769-50 { width:50%!important; }}
.fw-100 { font-weight:100; }
.clhex-ffffff { color:#ffffff; }
@media (min-width: 240px) {.fs-240-48 { font-size:48px!important; }}
@media (min-width: 769px) {.fs-769-56 { font-size:56px!important; }}
.bghex-ff0000 { background-color:#ff0000; }
.h-200 { height:200px; }
.mt-0 { margin-top:0px; }
.pt-24 { padding-top:24px; }
.pl-24 { padding-left:24px; }
.pr-24 { padding-right:24px; }
@media (min-width: 240px) {.ls-240-2 { letter-spacing:2px!important; }}
@media (min-width: 768px) {.ls-768-20 { letter-spacing:20px!important; }}
@media (min-width: 992px) {.ls-992-12 { letter-spacing:12px!important; }}
.fsp-100 { font-size:100%; }
.p-24 { padding:24px; }
.clhex-005500 { color:#005500; }
.lh-24 { line-height:24px; }
.p-16 { padding:16px; }
.b-1px_solid_hex000 { border:1px solid #000; }
.td-none { text-decoration:none; }
.clhex-000 { color:#000; }
@media (min-width: 240px) {.fs-240-36 { font-size:36px!important; }}
